// Place all the styles related to the events controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {
  width: 800px;

  .event {
    border: 1px solid #000;
    padding: 5px;

    .event-title {
      font-weight: bold;
      font-size: 20px;
    }

    .event-description {
      margin-top: 5px;
    }

    small.begin-time-title, small.end-time-title {
      margin-right: 3px;
      font-weight: bold;
    }

    small.separator {
      margin: 0 5px;
    }
  }
}

.filters-block {
  width: 300px;
  margin-top: 80px;

  .filter-block, .filter-presets {
    select {
      width: 200px;
    }

    input[type="text"] {
      width: 196px;
    }

    ol {
      list-style: none;

      li {
        margin-bottom: 3px;
      }
    }
  }
}

.saved-filters {
  padding: 20px 55px;
  border: 1px solid #666;
}